/* custom styles - martin [naicode.com] */
.x-hero {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e0c9c9;
}
@media (min-width: 1200px) {
	.x-hero {
		min-height: 820px;
	}
}
.x-hero .x-content {
	margin: 100px 0;
}
.x-hero-text {
	margin: 40px 0 20px;
}
.x-hero-text h2 {
	font-size: 60px;
	font-weight: 100;
	font-family: 'Dancing Script', cursive;
}
.x-hero-form {
	background: rgba(255, 255, 255, 0.9);
	padding: 40px;
	margin: 0 auto 20px;
}
.x-title {
    font-family: 'Dancing Script', cursive;
}
.uk-grid-stack .x-hero-text {
	padding: 20px 0 70px;
	margin: 0;
}
.uk-grid-stack .x-hero-form {
	max-width: 70%;
}
.x-hero-form label {
	text-transform: uppercase;
	font-size: 13px;
}
.x-hero-form .uk-inline {
	width: 100%;
}
.x-large-title {
	font-weight: 100;
}
.x-place .x-image-wrapper {
	width: 100%;
	height: 350px;
}
.x-place .x-image-wrapper img {
	height: 100%;
	min-width: 100%;
	max-width: none;
}
.x-place .uk-transition-slide-bottom {
	padding: 10px;
}

.x-image-content .uk-background-cover {
	height: 600px;
}
.x-testimony {
	background: #fff;
	padding: 10px;
	text-align: center;
	color: #555;
}
.x-testimony .x-profile .x-avatar {
	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}
.x-testimony .x-profile .x-avatar img {
	width: 100%;
	min-height: 100%;
}
.x-testimony .x-profile h2 {
	margin: 0 0 5px;
	font-size: 20px;
	font-weight: 300;
	color: inherit;
}
.x-testimony .x-profile p {
	margin: 0;
	color: inherit;
}
.x-testimony .x-profile {
	padding: 10px;
}
.x-testimonial .uk-slidenav {
	color: #000 !important;
	background: #fff;
}
.x-news-item h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.x-travel {
	padding: 10px;
}
.x-travel h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.x-travels .uk-slidenav {
	color: #000 !important;
	background: #fff;
}
.x-contacts h3 {
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
}
.x-contacts p {
	margin: 0;
}
.x-contact-form {
	background: rgba(255, 255, 255, 0.9);
	padding: 40px;
	margin: 0 auto 20px;
}
.x-contact-form textarea {
	min-height: 80px
}
.x-footer-links {

}
.x-footer-links h2 {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
}
.x-footer-links .uk-nav {
	margin-top: 10px;
}
.x-footer-links .uk-nav li a {
	font-size: 14px;
}
.x-social-links {
	margin-top: 10px;
}
.x-footer-form .uk-form-controls .uk-inline {
	width: 100%;
}
.x-copyright-border {
	width: 100%;
	height: 1px;
	border-top: 1px solid #ddd;
}
.x-copyright {
	padding: 0 20px;
	margin-top: 40px;
}
.x-copyright p {
	font-size: 12px;
}
