/* custom styles - martin [naicode.com] */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
html {
	overflow-y: auto !important;
	overflow-x: hidden !important;
}
body {
	overflow: hidden !important;
	/* font-family: "Work Sans", Arial, sans-serif; */
}
/* menu */
.x-navbar {
	width: 100%;
	position: absolute;
	z-index: 5;
	margin: 0;
	white-space: nowrap;
}
.x-navbar .uk-navbar {
	margin: 0 !important;
	height: 80px;
}
.x-navbar .x-brand,
.x-navbar .uk-navbar-toggle,
.x-navbar .uk-navbar-nav > li > a {
	color: #fff !important;
}
.x-navbar .uk-navbar-toggle,
.x-navbar .uk-navbar-nav > li > a:focus,
.x-navbar .uk-navbar-nav > li > a:hover {
	opacity: 0.8;
}
.x-navbar .uk-navbar-toggle,
.x-navbar .uk-navbar-nav > li > a:active {
	opacity: 1;
}
.x-navbar .uk-navbar-nav > li.uk-active > a {
	opacity: 0.5;
}
.x-navbar .uk-navbar-sticky {
	background: rgba(0, 0, 0, 0.8);
}
.x-navbar .x-inactive {
	background: transparent;
}
.x-navbar .uk-navbar-dropdown {
	margin-top: 0 !important;
}
.x-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .3em;
}
.x-brand:focus,
.x-brand:hover,
.x-brand:active {
	text-decoration: none;
}
#x-offcanvas-menu .uk-offcanvas-bar {
	background: rgba(0, 0, 0, 0.85);
	width: 270px;
	padding: 0;
}
#x-offcanvas-menu .uk-panel {
	margin: 20px 15px;
	color: #777;
}
#x-offcanvas-menu .uk-nav {
	margin: 0;
	list-style: none;
	padding: 0;
}
#x-offcanvas-menu .uk-nav .uk-offcanvas-close {
	position: initial;
}
#x-offcanvas-menu li {
	padding: 0;
	text-transform: uppercase;
}
#x-offcanvas-menu li > a {
	color: #ccc;
	padding: 10px 15px;
}
#x-offcanvas-menu li.uk-active > a {
	background: #1a1a1a;
	color: #fff;
}
#x-offcanvas-menu li > a:focus,
#x-offcanvas-menu li > a:hover {
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	outline: none;
}
/* globals */
.x-title {
	text-align: center;
}
.x-section-dark {
	background: #eee;
}
.x-text h1 {
	font-weight: 100;
}
.x-border-bottom {
	display: block;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.x-border-bottom::after {
	width: 70px;
	height: 2px;
	background: #00CA4C;
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
